In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from astropy import units as u
from astropy.coordinates import SkyCoord, EarthLocation, AltAz
from astropy.time import Time

import plotly.express as px

In [2]:
southwest = [
 'Apache Point',
 'Catalina Observatory',
 'Discovery Channel Telescope',
#  'Hale Telescope',
 'Kitt Peak',
#  'Large Binocular Telescope',
 'Lick Observatory',
 'Lowell Observatory',
 'Mt Graham',
#  'Multiple Mirror Telescope',
 'Palomar',
#  'Sacramento Peak',
 'Very Large Array',
 'Whipple Observatory',
]

chile = [
    'ALMA',
    'Cerro Paranal',
    'Cerro Tololo',
    'Gemini South',
    'La Silla Observatory',
    'Las Campanas Observatory',
    # 'Paranal Observatory',
]
regions = {'SouthWestUS': southwest,
            'Chile': chile}

In [4]:
curr_region = 'SouthWestUS'
sites = regions[curr_region]

In [5]:
def get_locations():
    return [EarthLocation.of_site(s) for s in sites]

locations = get_locations()

In [6]:
def make_locations_df():
    df = pd.DataFrame()
    df['name'] = sites
    df['lat'] = [loc.lat.value for loc in locations]
    df['lon'] = [loc.lon.value for loc in locations]
    return df

df = make_locations_df()

In [7]:
midpoint = (np.average(df['lat']), np.average(df['lon']))

In [11]:
df.head()

                          name        lat         lon
0                 Apache Point  32.780000 -105.820000
1         Catalina Observatory  32.416667 -110.731667
2  Discovery Channel Telescope  34.744305 -111.422515
3                    Kitt Peak  31.963333 -111.600000
4             Lick Observatory  37.343333 -121.636667

In [87]:
import plotly.graph_objects as go

px.set_mapbox_access_token(open("/home/colin/.mapbox_token").read())
fig = px.scatter_mapbox(df, lat="lat", lon="lon", hover_name="name",
                  size_max=500, zoom=5, width=1000, height=800)
fig.update_traces(marker=dict(size=12, color='green'))

f = go.FigureWidget(fig)
scatter = f.data[0]

selection = 'test'

# create our callback function
def update_point(trace, points, selector):
    global selection
    selection = df.iloc[points.point_inds]
    f.update_layout(title=selection['name'].values[0])
#     display(selection)
#     display(trace)
#     display(points.point_inds)
    c = ['green',] * len(trace.lat)
#     s = list(scatter.marker.size)
    for i in points.point_inds:
        c[i] = 'red'
        with f.batch_update():
            scatter.marker.color = c

scatter.on_click(update_point)

f

FigureWidget({
    'data': [{'hoverlabel': {'namelength': 0},
              'hovertemplate': '<b>%{hovertext}<â€¦

In [ ]:
fig = px.scatter_geo(df, locations="iso_alpha", color="continent", hover_name="country", size="pop",
               animation_frame="year", projection="natural earth")
fig.show()